# Same Alpaca PAPER account as the NVDA delayed iron condor bot
ALPACA_API_KEY=your_paper_key_here
ALPACA_SECRET_KEY=your_paper_secret_here
# Free key from https://www.alphavantage.co/support/#api-key (earnings calendar)
ALPHAVANTAGE_API_KEY=your_alpha_vantage_key_here
